<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BopeDance би орталығы</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">BopeDance</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Біз туралы</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Қызметтер</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Портфолио</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Байланыс</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">
                Би — музыкалық ырғаққа сай дене қимылымен көрсетілетін өнер.</h1>
            <hr>
            <p>Би - демалудың, шығармашылық түрде өзінді дамыту, жаңа достар табу және уақытынды босқа өткізбей көңіл көтерудің тамаша тәсілі! </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Толығырақ</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">BOPEDANCE - заманауи би мектебі!</h2>
                <hr class="light">
                <p class="text-faded">BOPEDANCE сайтына қош келдіңіз! Біздің би мектебіміз - Алматы қаласындағы, ең атақты деген бағыттағы билерді жайлы орында және жақсы достармен
                үйренетін жер. Би сабағын атақты Қазақстанның бишілері жүргізеді. Жане бағасы да қолжетімді!</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Сынақ сабағына жазылу!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Би түрлері</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Hip-hop</h3>
                    <p class="text-muted">Денсаулығыныз жақсарып, иммунитетініз көтеріледі.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>BREAKE DANCE</h3>
                    <p class="text-muted">Физикалық күш жинайсыз! Және шыдамдылықты дамыта түсесіз!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>K-POP Dance</h3>
                    <p class="text-muted">K-POP фестивалдеріне қатысуға зор мүмкіндік.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Танцтеатр</h3>
                    <p class="text-muted">Әдемі және эстетикалық сезіммен билеуді үйренесіз!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<h2 class="section-heading text-center">Өз биінді таңда!</h2>
<hr class="primary">
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="img/01.jpg" class="portfolio-box">
                    <img src="img/01.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dance
                            </div>
                            <div class="project-name">
                                HIP-HOP
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/02.jpg" class="portfolio-box">
                    <img src="img/02.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dance
                            </div>
                            <div class="project-name">
                                Break Dance
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/03.jpg" class="portfolio-box">
                    <img src="img/03.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dance
                            </div>
                            <div class="project-name">
                                K-POP
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container">
        <div class="row text-center">
            <h1>Сабаққа жазылу үшін төмендегі форманы толтырыңыз!</h1><br>
            <form action="#" th:action="@{/add}" th:object="${client} "method="post" class="form-inline text-center">
                <hidden th:path="id"/>
                <div class="form-group">
                    <label for="name">Аты-жөні: </label>
                    <input type="text" id="name" name="name"   class="form-control"/>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email"  class="form-control"/><br><br>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">Тапсырыс беру</button>
                </div>
            </form>
        </div>
    </div>
</aside>

<section id="contact" style="padding: 10px;">
    <div class="container">
        <div class="row text-center">
            <a href="http://www.facebook.com"><i class="fab fa-facebook" style="font-size: 35px; padding: 20px;"></i> </a>
            <a href="http://www.twitter.com"><i class="fab fa-twitter" style="font-size: 35px; padding: 20px;"></i> </a>
            <a href="http://www.vk.com"><i style="font-size: 35px; padding: 20px;" class="fab fa-vk"></i> </a>
            <p style="font-size: 35px;">Алматы қаласы. 2018 жыл</p>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/creative.min.js"></script>

</body>

</html>
